.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
}
.logo-image {
  height: 65px;
}
.hambuger-icon {
  height: 40px;
  width: 50px;
  font-weight: 600;
}
.trigger-btn {
  border: none;
  padding: 5px;
  outline: none;
  background-color: transparent;
}
.trigger-btn-close {
  border: none;
  padding: 5px;
  outline: none;
  color: #616e7c;
  background-color: transparent;
  align-self: flex-end;
}
.popup-content {
  width: 100vw;
  height: 100vh;
  padding: 4% 6%;
}
.modal-container {
  display: flex;

  flex-direction: column;
}
.navigations-container {
  height: 80vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}
.navigation-btn {
  color: #1d2737;
  font-weight: 600;
  font-family: 'roboto';
  font-size: 35px;
  margin: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.navigation-icons {
  color: #1d2737;
  height: 45px;
  margin: 0 10px;
}
.navigation-links {
  text-decoration: none;
}
.section-image {
  width: 100vw;
}
